.App {
  text-align: center;
  padding: 20px;
  background-image: url('../public/background.jpg');
  background-size: cover; /* passt das Bild an die Größe des Containers an */
  background-repeat: no-repeat; 
  width: 100%;
  height: 100vh;
}

.Container {
  margin-top: 50px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
}

.CardContent {
  font-size: 16px;
  color: #333;
}

.Button {
  margin: 10px;
}

.TextField {
  margin: 10px;
}

.customAppBar {
  background-color: #B3435A;
  margin-bottom: 20px;
}

.tabsContainer {
  background-color: #263E5A;
  font-size: 16px;
  margin-bottom: 20px;
}

.verticalForm {
  display: flex;
  flex-direction: column;
  align-items: left; 
}

.textField {
  margin-bottom: 20px; /* Abstand zwischen den Textfeldern */
}

.background {
  background-color: #D8C4B7;
  border-radius: 10px;
}

.trainings {
  background-color: #5393C0;
  text-align: left;
}